/* .class1{ 
    color: red;
    font-size: 3rem;
}

.class2{ 
    font-style: italic;
    font-weight: 100;
} */

/* add event listner */

/* .class1{ 
    color: red;
    font-style: italic;
    font-size: 3rem;
} */


/* Animation */
/* .div-style{ 
    width: 800px;
    height: 250px;
    margin-top: 20px;
    padding: 10px;
    background-color: red;
} */